body {
    background-color: #151b29;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button {
    background-color: #151b29;
    color: #ffa260;
    border: 2px solid #ffa260;
    padding: 1em 2em;
    font-size: 1em;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

button:hover {
    border-color: #F1FF5C;
    color: white;
    box-shadow:0em 0.5em 0.5em -0.4em #F1FF5C;
    transform: translateY(-0.2em);
    cursor: pointer;
 
}